@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

/* Hide scrollbar for all elements with .hide-scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

img {
  overflow-clip-margin: unset;
}
